@charset "UTF-8";

//rotate
@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
@-webkit-keyframes rotate {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes rotate-quarter {
	0% {transform: rotate(0deg);}
	12.5% {transform: rotate(90deg);}
	25% {transform: rotate(90deg);}
	37.5% {transform: rotate(180deg);}
	50% {transform: rotate(180deg);}
	62.5% {transform: rotate(270deg);}
	75% {transform: rotate(270deg);}
	87.5% {transform: rotate(360deg);}
	100% {transform: rotate(360deg);}
}
@-webkit-keyframes rotate-quarter {
	0% {-webkit-transform: rotate(0deg);}
	12.5% {-webkit-transform: rotate(90deg);}
	25% {-webkit-transform: rotate(90deg);}
	37.5% {-webkit-transform: rotate(180deg);}
	50% {-webkit-transform: rotate(180deg);}
	62.5% {-webkit-transform: rotate(270deg);}
	75% {-webkit-transform: rotate(270deg);}
	87.5% {-webkit-transform: rotate(360deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes rotate-reverse {
	0% {transform: rotate(0deg);}
	12.5% {transform: rotate(180deg);}
	25% {transform: rotate(180deg);}
	37.5% {transform: rotate(360deg);}
	50% {transform: rotate(360deg);}
	62.5% {transform: rotate(180deg);}
	75% {transform: rotate(180deg);}
	87.5% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
@-webkit-keyframes rotate-reverse {
	0% {-webkit-transform: rotate(0deg);}
	12.5% {-webkit-transform: rotate(180deg);}
	25% {-webkit-transform: rotate(180deg);}
	37.5% {-webkit-transform: rotate(360deg);}
	50% {-webkit-transform: rotate(360deg);}
	62.5% {-webkit-transform: rotate(180deg);}
	75% {-webkit-transform: rotate(180deg);}
	87.5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}

@keyframes flip-x {
	0% {transform: rotateX(0deg);}
	100% {transform: rotateX(180deg);}
}
@-webkit-keyframes flip-x {
	0% {-webkit-transform: rotateX(0deg);}
	100% {-webkit-transform: rotateX(180deg);}
}
@keyframes flip-y {
	0% {transform: rotateY(0deg);}
	100% {transform: rotateY(180deg);}
}
@-webkit-keyframes flip-y {
	0% {-webkit-transform: rotateY(0deg);}
	100% {-webkit-transform: rotateY(180deg);}
}

@keyframes flip-xy {
	0% {transform: rotateX(0deg);}
	25% {transform: rotateX(90deg);}
	50% {transform: rotateY(0deg);}
	100% {transform: rotateY(180deg);}
}
@-webkit-keyframes flip-xy {
	0% {-webkit-transform: rotateX(0deg);}
	25% {-webkit-transform: rotateX(90deg);}
	50% {-webkit-transform: rotateY(0deg);}
	100% {-webkit-transform: rotateY(180deg);}
}
@keyframes flip-color {
	0% {background: $color-1;}
	24% {background: darken($color-1,10);}
	25% {background: $color-2;}
	74% {background: $color-2;}
	75% {background: $color-1;}
	100% {background: $color-1;}
}
@-webkit-keyframes flip-color {
	0% {background: $color-1;}
	24% {background: darken($color-1,10);}
	25% {background: $color-2;}
	74% {background: darken($color-2,10);}
	75% {background: $color-1;}
	100% {background: $color-1;}
}

@keyframes runble {
	0% {background: $color-1;}
	24% {background: darken($color-1,10);}
	25% {background: $color-2;}
	74% {background: $color-2;}
	75% {background: $color-1;}
	100% {background: $color-1;}
}
@-webkit-keyframes runble {
	0% {background: $color-1;}
	24% {background: darken($color-1,10);}
	25% {background: $color-2;}
	74% {background: darken($color-2,10);}
	75% {background: $color-1;}
	100% {background: $color-1;}
}

@keyframes scale-half {
	0% {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}

	100% {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes scale-half {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes bgColor-blink {
	0% {
		background: rgba($color-1,1);
	}
	50% {
		background: rgba($color-1,0);
	}
	100% {
		background: rgba($color-1,1);
	}
}
@-webkit-keyframes bgColor-blink {
	0% {
		background: rgba($color-1,1);
	}
	50% {
		background: rgba($color-1,0);
	}
	100% {
		background: rgba($color-1,1);
	}
}

.lic-linear {
	animation-timing-function: linear !important;
	-webkit-animation-timing-function: linear !important;
	-moz-animation-timing-function: linear !important;
	-o-animation-timing-function: linear !important;
	-ms-animation-timing-function: linear !important;
}

.lic-ease {
	 animation-timing-function: ease !important;
	 -webkit-animation-timing-function: ease !important;
	 -moz-animation-timing-function: ease !important;
	 -o-animation-timing-function: ease !important;
	 -ms-animation-timing-function: ease !important;
 }
