@charset "UTF-8";

// Colors
$color-white:		#fff !default;
$color-graylighter:	#f0f0f0 !default;
$color-graylight:	#ddd !default;
$color-gray:		#999 !default;
$color-graydark:	#666 !default;
$color-graydarker:	#333 !default;
$color-black:		#000 !default;

$color-red:			#c33 !default;
$color-orange:		#f96 !default;
$color-yellow:		#dd0 !default;
$color-green:		#0c9 !default;
$color-blue:		#09c !default;
$color-purple:		#93c !default;

$color-1:			$color-gray !default;
$color-2:			$color-graydark !default;
$color-background:	$color-white !default;
