@charset "UTF-8";

$icon-width:	20px;
$icon-height:	20px;
.lic-dial {
	@include icon-display;
	width:$icon-width;
	height:$icon-height;
	background-color:$color-1;
	@include border-radius($icon-width);
	animation: 1s rotate infinite;
	-webkit-animation: 1s rotate infinite;

	&:before {
		@include pseudo-display;
		top:10%;
		left:50%;
		width: $icon-width/4;
		height: $icon-height/4;
		margin-left:-$icon-width/4/2;
		background-color: $color-white;
		@include border-radius($icon-width/4);
	}
}

.lic-dial-alt {
	@include icon-display;
	width:$icon-width;
	height:$icon-height;
	//background-color:$color-1;
	border: solid 1px $color-1;
	@include border-radius($icon-width);
	animation: 1s rotate infinite;
	-webkit-animation: 1s rotate infinite;

	&:before {
		@include pseudo-display;
		top:10%;
		left:50%;
		width: $icon-width/4;
		height: $icon-height/4;
		margin-left:-$icon-width/4/2;
		background-color: $color-1;
		@include border-radius($icon-width/4);
	}
}
