@charset "UTF-8";

$icon-width: 20px;
$icon-height: 20px;
$animationtime: 1s;

.lic-propeller {
	@include icon-display;
	width: $icon-width;
	height: $icon-height;
	animation: $animationtime rotate linear infinite;
	-webkit-animation: $animationtime rotate linear infinite;

	&:before, &:after {
		@include pseudo-display;
		width: round($icon-width/2);
		height: round($icon-height/2);
		border:solid 2px $color-1;
		@include border-radius($icon-width);
		border-bottom:transparent;
		border-top:transparent;
	}
	&:before {
		top:0;
		right:round($icon-width/3);
		border-left:transparent;
	}
	&:after {
		bottom:0;
		left:round($icon-width/3);
		border-right:transparent;
	}
}