@charset "UTF-8";
$icon-width: 5px;
$icon-height: 10px;
$animationtime: 1.5s;

.lic-wavebar {
	@include icon-display;
	width: $icon-width;
	margin: 0 $icon-width*2;
	border-top:solid $icon-height/2 $color-1;
	border-bottom:solid $icon-height/2 $color-1;
	animation: $animationtime wavebar1 $animationtime/5*1 infinite;
	-webkit-animation: $animationtime wavebar1 $animationtime/5*1 infinite;

	&:before, &:after {
		@include pseudo-display;
		width: $icon-width;
		border-top:solid $icon-height/2 $color-1;
		border-bottom:solid $icon-height/2 $color-1;
		top:50%;
		margin-top:-$icon-height/2;
	}
	&:before {
		left: -$icon-width - 2;
		animation: $animationtime wavebar2 infinite;
		-webkit-animation: $animationtime wavebar2 infinite;
	}
	&:after {
		right: -$icon-width - 2;
		animation: $animationtime wavebar2 $animationtime/5*2 infinite;
		-webkit-animation: $animationtime wavebar2 $animationtime/5*2 infinite;
	}
}
@keyframes wavebar1 {
	0% {
		border-top:solid $icon-height/2 $color-1;
		border-bottom:solid $icon-height/2 $color-1;
	}
	25% {
		border-top:solid $icon-height $color-1;
		border-bottom:solid $icon-height $color-1;
	}
	50% {
		border-top:solid $icon-height/2 $color-1;
		border-bottom:solid $icon-height/2 $color-1;
	}
	100% {
		border-top:solid $icon-height/2 $color-1;
		border-bottom:solid $icon-height/2 $color-1;
	}
}
@-webkit-keyframes wavebar1 {
	0% {
		border-top:solid $icon-height/2 $color-1;
		border-bottom:solid $icon-height/2 $color-1;
	}
	25% {
		border-top:solid $icon-height $color-1;
		border-bottom:solid $icon-height $color-1;
	}
	50% {
		border-top:solid $icon-height/2 $color-1;
		border-bottom:solid $icon-height/2 $color-1;
	}
	100% {
		border-top:solid $icon-height/2 $color-1;
		border-bottom:solid $icon-height/2 $color-1;
	}
}
@keyframes wavebar2 {
	0% {
		border-top:solid $icon-height/2 $color-1;
		border-bottom:solid $icon-height/2 $color-1;
		@include translate(0,0);
	}
	25% {
		border-top:solid $icon-height $color-1;
		border-bottom:solid $icon-height $color-1;
		@include translate(0,-$icon-height/2);
	}
	50% {
		border-top:solid $icon-height/2 $color-1;
		border-bottom:solid $icon-height/2 $color-1;
		@include translate(0,0);
	}
	100% {
		border-top:solid $icon-height/2 $color-1;
		border-bottom:solid $icon-height/2 $color-1;
		@include translate(0,0);
	}
}

@-webkit-keyframes wavebar2 {
	0% {
		border-top:solid $icon-height/2 $color-1;
		border-bottom:solid $icon-height/2 $color-1;
		@include translate(0,0);
	}
	25% {
		border-top:solid $icon-height $color-1;
		border-bottom:solid $icon-height $color-1;
		@include translate(0,-$icon-height/2);
	}
	50% {
		border-top:solid $icon-height/2 $color-1;
		border-bottom:solid $icon-height/2 $color-1;
		@include translate(0,0);
	}
	100% {
		border-top:solid $icon-height/2 $color-1;
		border-bottom:solid $icon-height/2 $color-1;
		@include translate(0,0);
	}
}
