@charset "UTF-8";

$icon-width: 20px;
$icon-height: 20px;
$animationtime: 1s;

.lic-sonar {
	@include icon-display;
	width: $icon-width;
	height: $icon-height;
	//border:solid 1px $color-1;
	@include border-radius($icon-width);
	overflow: hidden;
	animation:$animationtime rotate linear infinite;
	-webkit-animation: $animationtime rotate linear infinite;

	&:before, &:after {
		@include pseudo-display;
	}
	&:before {
		width: $icon-width;
		height: round($icon-height/2);
		top: 0;
		left: 0;
		background-image: linear-gradient(to right, rgba($color-1, 0), rgba($color-1, 1));
		@include background-image(linear-gradient(left, rgba($color-1,0) ,rgba($color-1,1)));
		z-index: 1;
	}
	&:after {
		width: round($icon-width/2);
		height: round($icon-height/2);
		@include border-radius($icon-width);
		top:50%;
		left:50%;
		margin-top: - round($icon-height/4);
		margin-left: - round($icon-width/4);
		background: $color-background;
		z-index: 2;
	}
}