@charset "UTF-8";
$icon-width:	20px;
$icon-height:	20px;
$dot-size:		$icon-width/2.1;

.lic-dotcircle {
	@include icon-display;
	width:$icon-width;
	height:$icon-height;
	animation: 1s rotate infinite;
	-webkit-animation: 1s rotate infinite;

	&:before,&:after {
		@include pseudo-display;
		top:50%;
		width:$dot-size;
		height:$dot-size;
		margin-top:-$dot-size/2;
		border-radius:$dot-size;
	}
	&:before {
		left:0;
		background-color:$color-1;
	}
	&:after {
		right:0;
		background-color:$color-2;
	}
}
