@charset "UTF-8";
$icon-width: 30px;
$icon-height: 10px;
$animationtime: 2s;

.lic-wipebar {
	@include icon-display;
	width: $icon-width;
	height: $icon-height;
	border:solid 1px $color-1;
	@include border-radius($icon-width);
	@include box-sizing(border-box);
	overflow: hidden;

	&:before {
		@include pseudo-display;
		top:0;
		left:0px;
		background:$color-1;
		width: $icon-width;
		height:$icon-height - 2;
		box-shadow:0 0 $icon-height/2 $icon-height/2 $color-1;
		animation: $animationtime wipebar infinite;
		-webkit-animation: $animationtime wipebar infinite;
	}
}
@keyframes wipebar {
	0% {left:-$icon-width*1.2;}
	50% {left:$icon-width*1.2;}
	100% {left:-$icon-width*1.2;}
}
@-webkit-keyframes wipebar {
	0% {left:-$icon-width*1.2;}
	50% {left:$icon-width*1.2;}
	100% {left:-$icon-width*1.2;}
}

